// colors
$fotBlue: #005ca1;
$fotYellow: #f6b801;
$fotGreen: #016d33;
$mainGray: #646564;
$lightGray: #b1b2b1;
$muiSucces: #388e3c;
$muiError: #d32f2f;

// fonts
$sansSeriff: "Roboto", sans-serif;
$seriff: "Roboto Slab", serif;

:export {
  fotBlue: $fotBlue;
  fotYellow: $fotYellow;
  fotGreen: $fotGreen;
  mainGray: $mainGray;
  lightGray: $lightGray;
  muiSucces: $muiSucces;
  muiError: $muiError;

  sansSeriff: $sansSeriff;
  seriff: $seriff;
}
